{% extends 'base_admin.html.twig' %}

{% block body %}

    <h1>Businesses list</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logotipo</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for business in businesses %}
                <tr>
                    <td>{{ business.id }}</td>
                    <td>{{ business.name }}</td>
                     <td><img src="{{ vich_uploader_asset(business, 'imageFile') }}" alt="{{business.image }}" /> </td>
                    <td>{{ business.address }}</td>
                    <td>{{ business.email }}</td>
                    <td>{{ business.phone }}</td>
                    <td>{{ business.website }}</td>
                    
                    <td>
                        <ul>
                            {#<li>
                                <a href="{{ path('admin_business_show', { 'id': business.id }) }}">show</a>
                            </li>#}
                            <li>
                                <a href="{{ path('admin_business_edit', { 'id': business.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<ul>
        <li>
            <a href="{{ path('admin_business_new') }}">Create a new business</a>
        </li>
    </ul>
{% endblock %}
