{% extends 'base.html.twig' %}

{% block body %}
    <h1>Background</h1>

    <table>
        <tbody>
            <tr>
                <th>Year</th>
                <td>{{ background.year }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ background.image }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if background.createdAt %}{{ background.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if background.updatedAt %}{{ background.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ background.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_background_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_background_edit', { 'id': background.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
