<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Bolsa de Empregabilidade</title>

        <meta name="description" content="PSD to HTML5+CSS3 conversion.">
        <meta name="keywords" content="PSD, HTML5, CSS3">
        <meta name="author" content="Vivaco">

        <link rel="shortcut icon" href="assets/img/favicon.ico">
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">
        {% block stylesheets %}
            
                   

            
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/custom-animations.css') }}" />
            
           {# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/style.css') }}" />#}
            
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/style-blue-color.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/colors/blue.css') }}" />
             
                        <!-- Bootstrap core CSS -->
           {# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/bootstrap.min.css') }}" />#}
{# #}
            <!-- Custom styles for this template -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/dashboard.css') }}" />
           
        {% endblock %}


        <!--[if lt IE 9]>
                <script src="{{ asset('bundles/app/assets/js/html5shiv.js') }}"></script>
                <script src="{{ asset('bundles/app/assets/js/respond.min.js') }}"></script>
        <![endif]-->


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114385271-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-114385271-1');
        </script>



        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s)
            {
                if (f.fbq)
                    return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                    'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '424750818264620');
            fbq('track', 'PageView');
        </script>
        <noscript>
    <img height="1" width="1" 
         src="https://www.facebook.com/tr?id=424750818264620&ev=PageView
         &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->




</head>

<body>{#
    <div class="preloader-mask">
        <div class="preloader"></div>
    </div>
#}

    {% block body %}


    {% endblock %}

    <div class="modal-window" data-modal="0" style="background-color: rgba(2, 2, 2, 0.85);">
        <div class="modal-box iframe-box iframe-video">
            <span class="close-btn icon icon-office-52"></span>

            <iframe src="https://www.youtube.com/embed/O9CDdEmJnWs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

        {#https://www.youtube.com/watch?v=K4lc_iJU8yU&feature=youtu.be#}
    </div>



    {% block javascripts %}

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery-1.11.3.min.js?ver=1') }}"></script>
        <![endif]-->
        <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery-2.1.4.min.js?ver=1') }}"></script>
        <!--<![endif]-->

        {#<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>#}
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCK9zvL2InLNfRs2Q-X3a8yxyKJXD-Gma4"></script>



        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery.validate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/toastr.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery.waypoints.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery.appear.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery.plugin.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/jquery.countTo.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/masonry.pkgd.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/modal-box.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/js/ventcamp.js') }}"></script>

    {% endblock %}
</body>
</html>