
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Dashboard Template for Bootstrap</title>


        {% block stylesheets %}

            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/bootstrap.min.css') }}" />

            <!-- Custom styles for this template -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/css/dashboard.css') }}" />

        {% endblock %}

    </head>

    <body>
        {# <nav class="navbar fixed-top flex-md-nowrap p-0 shadow navbar-dark" >
           <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bolsa de Empregabilidade</a>
          
           <ul class="navbar-nav px-3">
             <li class="nav-item text-nowrap">
               <a class="nav-link" href="#">Sign out</a>
             </li>
           </ul>
         </nav>#}

        {#        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bolsa de Empregabilidade</a>#}



        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('homepage')}}">Bolsa de Empregabilidade &nbsp;</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path('homepage')}}#business" class="nav-link">{% trans from 'messages_2019' %}Empresas{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#speakers" class="nav-link">{% trans from 'messages_2019' %}Oradores{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#schedule" class="nav-link">{% trans from 'messages_2019' %}Agenda{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#feedback" class="nav-link">{% trans from 'messages_2019' %}Testemunhos{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#sponsors" class="nav-link">{% trans from 'messages_2019' %}Patrocinadores{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacts" class="nav-link">{% trans from 'messages_2019' %}Contactos{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('homepage', { 'year': 2018 }) }}" class="nav-link">Edição 2018</a>
                    </li>
                </ul>
            </div>
            {#<ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
              </li>
            </ul>#}
        </nav>




        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">




                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_business_index') }}">
                                    <span data-feather="globe"></span>
                                    Empresas 
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_speaker_index') }}">
                                    <span data-feather="mic"></span>
                                    Oradores 
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_photo_index') }}">
                                    <span data-feather="image"></span>
                                    Galeria 
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_sponsor_index') }}">
                                    <span data-feather="dollar-sign"></span>
                                    Patrocinadores 
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_fos_user_index') }}">
                                    <span data-feather="user"></span>
                                    Participantes 
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_job_index') }}">
                                    <span data-feather="clipboard"></span>
                                    Ofertas 
                                </a>
                            </li>

                        </ul>



                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <br/>
                    {% block body %}


                    {% endblock %}



                    {#</div>#}
                </main>
            </div>
        </div>






        {% block javascripts %}


            <!-- Bootstrap core JavaScript
       ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('bundles/app/assets/js/dashboard/jquery-slim.min.js') }}"><\/script>')</script>
            <script src="{{ asset('bundles/app/assets/js/dashboard/popper.min.js') }}"></script>
            <script src="{{ asset('bundles/app/assets/js/dashboard/bootstrap.min.js') }}"></script>

            <!-- Icons -->
            <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
            <script>
                feather.replace()
            </script>





            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114385271-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-114385271-1');
            </script>



        {% endblock %}



    </body>
</html>


























