

{% extends 'base.html.twig' %}

{% block body %}

    {% include 'default/_header.html.twig'%}

    <div class="container-fluid">
        <div class="row">

            {% include 'default/_sidebar_admin.html.twig'%}

            <div class="col-sm-9 col-md-10 main">
                <h2 class="sub-header">Business edit</h2>
                <div class="table-responsive">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn" value="Edit" />
                    {{ form_end(edit_form) }}

                    <ul class="list-inline">
                        <li>
                            <a class="" href="{{ path('admin_business_index') }}">Back to the list</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input class="btn" type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    {% include 'default/_footer.html.twig'%}

{% endblock %}



