{# empty Twig template #}

<section id="business" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-shopping-04"></span>
        <h3>Empresas Confirmadas</h3>
        <p class="text-alt">Todas as empresas abaixo estão <span class="highlight">a contratar</span></p>
        <br />
        <br />


        {% for business in businesses %}
            <div class="col-sm-4">
                <div class="speaker">
                    <div class="photo-wrapper">
                        <img class="img-responsive" src="{{ vich_uploader_asset(business, 'imageFile') }}" alt="{{ business.name }}" />
                    </div>
                    <h3 class="name">{{ business.name }}</h3>
                    <p class="text-alt"><small>{{ business.website }}</small></p>
                    <p class="about">{{ business.presentation }}</p>
                    {#<ul class="speaker-socials">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul>#}
                </div>
            </div>
        {% endfor %}


        
        
        
        
        
        
        
        


    </div>
</section>