{# empty Twig template #}

<section id="business" class="section align-center">
    <div class="container">
        <i class="fa fa-briefcase fa-3x"></i>
        
        {#<span class="icon section-icon icon-shopping-04"></span>#}
        <h3>{% trans %}Empresas Confirmadas{% endtrans %}</h3>
        <p class="text-alt">{% trans %}Todas as empresas abaixo estão{% endtrans %} <span class="highlight">{% trans %}a contratar{% endtrans %}</span></p>
        <br />
        <br />


        {% for business in businesses %}
            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper"><a target="_blank" href="{{ business.website }}"><img class="img-responsive" src="{{ vich_uploader_asset(business, 'imageFile') }}" alt="{{ business.name }}" /></a></div>
                    <h3 class="name">{{ business.name }}</h3>
                    {#<p class="about">{{ business.presentation }}</p>#}
                </div>
            </div>
        {% endfor %}

    </div>
</section>