{# empty Twig template #}

<section id="business" class="section align-center">
    <div class="container">
        <i class="fa fa-briefcase fa-3x"></i>

        {#<span class="icon section-icon icon-shopping-04"></span>#}
        <h3>{% trans %}Empresas Confirmadas{% endtrans %}</h3>
        <p class="text-alt">{% trans %}Todas as empresas abaixo estão{% endtrans %} <span class="highlight">{% trans %}a contratar{% endtrans %}</span></p>
        <br />
        <br />


        {% for business in businesses %}
            
            {% set have_vaga = false %}
            
            <div class="col-sm-3">
                <div class="speaker">
                    <div class="photo-wrapper"><a target="_blank" href="{{ business.website }}"><img class="img-responsive" src="{{ vich_uploader_asset(business, 'imageFile') }}" alt="{{ business.name }}" /></a></div>
                    <h3 class="name">{{ business.name }}</h3>
                    {#<p class="about">{{ business.presentation }}</p>#}
                    
                    {% for job in business.jobs %}
                         {% if job.year == year %}
                             {% set have_vaga = true %}
                         {% endif %}
                    {% endfor %}
                        
                             
                             
                    {% if have_vaga == true %}
                        <p><a href="#" data-toggle="modal" data-target="#myModal_{{ business.id }}">Ver Ofertas</a></p>
                        {% else %}
                            <p>&nbsp;</p>
                        {% endif %}
                        
                        
                        
                </div>
            </div>


            {#{% if business.jobs|length > 0 %}#}
            {% if have_vaga == true %}
                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg" id="myModal_{{ business.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Ofertas da empresa {{ business.name }}</h4>
                            </div>
                            <div class="modal-body">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Título</td>
                                            <td>Descrição</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for job in business.jobs %}
                                            
                                            {% if job.year == year %}
                                                
                                                
                                            <tr>
                                                <td>{{job.title}}</td>
                                                <td>{{job.description}}</td>
                                            </tr>
                                            
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>

                                </table>




                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                {#<button type="button" class="btn btn-primary">Save changes</button>#}
                                {% if app.user %}
                                    <a href="{{ path('admin_fos_user_edit', { 'id': app.user.id }) }}" class="btn btn-primary">{% trans from 'messages_2019' %}Oportunidades{% endtrans %}</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">{% trans from 'messages_2019' %}Registar{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}





        {% endfor %}










    </div>
</section>