
<section id="sponsors" class="section align-center">
    <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>{% trans %}Patrocinadores{% endtrans %}</h3>
        {#<p class="text-alt">{% trans %}empresas que{% endtrans %} <span class="highlight">{% trans %}suportam{% endtrans %}</span> {% trans %}o evento{% endtrans %}</p>#}
        <br/>
        <br/>
        <div class="sponsors">
            {% for key,sponsor in sponsors %}
                {% if sponsor.id == 1 or sponsor.id ==2 or sponsor.id==7 %}
                    
                    {#{{sponsor.id}}#}
                    
                    <div class="sponsor inline">
                        <a targer="_blank" href="{{sponsor.website}}">
                            <img class="img-responsive" src="{{ vich_uploader_asset(sponsor, 'imageFile') }}" alt="{{ sponsor.name }}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

 </div>
<div class="sponsors">

            {% for key,sponsor in sponsors %}
                
                {#{{sponsor.id}}#}
                
                {% if sponsor.id!=1 and sponsor.id!=2 and sponsor.id!=7 %}
                    <div class="sponsor inline">
                        <a targer="_blank" href="{{sponsor.website}}">
                            <img style="width: 160px" class="img-responsive" src="{{ vich_uploader_asset(sponsor, 'imageFile') }}" alt="{{ sponsor.name }}" />
                        </a>
                    </div>
                {% endif %}
            {% endfor %}




        </div>
    </div>
</section>


